.Calligraffiti {
	font-family: Calligraffiti;
}

.UVNDoiMoi {
	font-family: UVNDoiMoi;
}
.UVNKeChuyen3{
	font-family: UVNKeChuyen3;
}

.UVNKyThuat{
	font-family: UVNKyThuat;
}

.UVNTinTuc_R{
	font-family: UVNTinTuc_R;
}

.ArDaughter {
	font-family: ArDaughter;
}

.Belligerent {
	font-family: Belligerent;
}

.Drawvetica {
	font-family: Drawvetica;
}


.Komtxt {
	font-family: Komtxt;
}

.Komtxtbi {
	font-family: Komtxtbi;
}

.Komtxti {
	font-family: Komtxti;
}

.Komtxtk {
	font-family: Komtxtk;
	src: url('../fonts/Komtxtk.ttf') format('truetype');
}

.Komtxtkb {
	font-family: Komtxtkb;
	src: url('../fonts/Komtxtkb.ttf') format('truetype');
}

.Floralia {
	font-family: Floralia;
}


.SpecialElite {
	font-family: SpecialElite;
}

.WCSoldOutB {
	font-family: WCSoldOutB;
}

/*------------------------------------------------*/

@font-face{
	font-family: Calligraffiti;
	src: url('../fonts/Calligraffiti.ttf') format('truetype');
}

@font-face{
	font-family: UVNDoiMoi;
	src: url('../fonts/UVNDoiMoi.ttf') format('truetype');
}

@font-face{
	font-family: UVNKeChuyen3;
	src: url('../fonts/UVNKeChuyen3.ttf') format('truetype');
}

@font-face{
	font-family: UVNKyThuat;
	src: url('../fonts/UVNKyThuat.ttf') format('truetype');
}

@font-face{
	font-family: UVNTinTuc_R;
	src: url('../fonts/UVNTinTuc_R.ttf') format('truetype');
}

@font-face {
	font-family: ArDaughter;
	src: url('../fonts/ArchitectsDaughter.ttf') format('truetype');
}

@font-face {
	font-family: Belligerent;
	src: url('../fonts/Belligerent.ttf') format('truetype');
}



@font-face {
	font-family: Drawvetica;
	src: url('../fonts/Drawvetica.ttf') format('truetype');
}


@font-face {
	font-family: Komtxt;
	src: url('../fonts/Komtxt.ttf') format('truetype');
}

@font-face {
	font-family: Komtxtb;
	src: url('../fonts/Komtxtb.ttf') format('truetype');
}

@font-face {
	font-family: Komtxtbi;
	src: url('../fonts/Komtxtbi.ttf') format('truetype');
}

@font-face {
	font-family: Komtxti;
	src: url('../fonts/Komtxti.ttf') format('truetype');
}

@font-face {
	font-family: Komtxtk;
	src: url('../fonts/Komtxtk.ttf') format('truetype');
}

@font-face {
	font-family: Komtxtkb;
	src: url('../fonts/Komtxtkb.ttf') format('truetype');
}

@font-face {
	font-family: Floralia;
	src: url('../fonts/Floralia.ttf') format('truetype');
}


@font-face {
	font-family: SpecialElite;
	src: url('../fonts/SpecialElite.ttf') format('truetype');
}

@font-face {
	font-family: WCSoldOutB;
	src: url('../fonts/WCSoldOutB.ttf') format('truetype');
}

