<div class = 'tbContainer ref'>
	<textarea
		name = 'textbox'
		placeholder = '{{"Enter text here"|translate}}'
		ng-style = '{cursor: current.cursor}'
		title = '{{"Ctrl+Del to delete. Ctrl + arrows to move it around. Drag the bottom-right corner to redimension."|translate}}'
		ng-model = 'textBox.text'
		ng-mousedown = 'mouseDown($event)'
		ng-mousemove = 'mouseMove($event)'
		ng-keyup = 'autoResize($event)'
		ng-keydown = 'keyDown($event)'>
	</textarea>
	<span  ng-show = 'active'
		class = 'textHandle-br fa fa-arrows-h'></span>
	<span ng-show = 'active'
		class = 'textHandle-tl fa fa-arrows'></span>
</div>