<div id = 'exportWindow'
	ng-controller = 'ExportController'>
	<div id = 'exportMenu'
		ng-show = 'showMenu' ng-init = 'showMenu = true'>
		<p translate>To which format would you like to export your album?</p>
		<ul> 
			<li >
				<span class = 'icon fa fa-laptop'></span> 
				<span class = 'link'
					ng-click = 'generatePdf(150)'
					translate>
					Normal PDF (to use on computer)
				</span>
			</li>
			<li>
				<span class = 'icon fa fa-print'> </span>
				<span class = link
					ng-click = 'showPdfOption = true'
					translate>
					Hight resolution PDF (for printing) 
				</span>
				<br/>
				<div ng-show = 'showPdfOption'>
					<span class = 'link'
						ng-click = 'blurbHandle()' translate>Print with Blurb</span> 
<!-- 								<span class= 'link fa fa-question-circle'></span> -->
					<span class = 'link' style = 'float: right'
						ng-click = 'generatePdf(300)' translate>Other</span>
				</div>
				
				
				<div ng-if = 'editingCover'>
					
				</div>
	
				
			</li>
			<li> 
				<span class = 'icon fa fa-comment-o'> </span>
				<span class = 'link'
					ng-click = 'generateJpg()'
					translate>
					JPEG images
				</span>
			</li>
		</ul>
	</div>
	

	<!--=========================================-->
	<div ng-if = 'processingPdf' >
		<p translate>
			Generating pdf. Please be patient...
		</p>
		<div style = 'font-size: 90%' > 
			<p translate>
				...processing page {{communication.page}}
			</p>
			<p class = 'icon fa fa-spinner fa-spin'
				style = 'font-size: 2em' > </p>
		</div>
	</div>
	<div ng-if = 'showLink'>
		<h4 translate> Congratulation! </h4>
		<p translate>Your PDF album is ready.</p>
		<span class = 'icon fa fa-download'> </span>
		<a download = '{{album.title + ".pdf"}}' 
			id = 'pdfoutput' 
			href = '{{pdfLink}}'
			translate>
			Download file
		</a>
	</div>
	
	<div ng-if = 'processingJpg' >
		<p translate>
			Generating Jpg. Please be patient...
		</p>

			<p class = 'icon fa fa-spinner fa-spin'> </p>
	</div>
	<div ng-if = 'showJpgLink' id = 'exportJpgAlbum'>
		<br/> <br/>
		<p>
			<span class = 'icon fa fa-download'> </span>
			<span class = 'link' ng-click = 'popupZip()'> Download Jpeg files
		<p>
		
	</div>
	<span class = 'clickable close fa fa-remove'
			ng-click = 'closeExportWindow()'></span>
</div>