<div ng-controller = 'PreviewController'
	id = 'previewPage'
	style = 'width: {{(previewWidth + 1) + "px"}}; 
	height: {{previewHeight + "px"}};'>
	<span ng-show = 'viewPageNum != 0'
			class = 'link prev fa fa-chevron-left'
			ng-click = 'previewPage(viewPageNum - 2)'> </span>
	<div id = 'prePageCont'>
		<div id = 'leftPreview'
			ng-show = 'viewPageNum != 0'
			style = 'position: absolute; top: 0px; left: 0px; 
				border-right: 1px solid #CCC;'>
		</div>
		<div id = 'rightPreview'
			ng-show = 'viewPageNum != album.content.length'
			style = 'position: absolute; top: 0px;
				left: {{(previewWidth/2+1)  + "px"}};'>
		</div>
	</div>
	<span class = 'link next fa fa-chevron-right' 
			ng-show = 'viewPageNum != album.content.length'
			ng-click = 'previewPage(viewPageNum + 2)'> </span>
	<div id = 'exportJPEG' >
		<span class = 'link'
			ng-click = 'toJPEG(viewPageNum)' translate>
			Export this page to JPEG</span>
	</div>
</div>