<div ng-controller = 'UserFontController'
	id = 'addFont'
	ng-if = 'current.addingFonts'>
	<p> You can upload a true type font from your computer to use in your albums.
		These fonts will appear in the font list with prefix Custom.
	</p>
	<p>Many free true type fonts can be found at 
		<a href = 'http://www.fontsquirrel.com'>
		http://www.fontsquirrel.com</a>, for example.
	</p>
	
	<div style = 'margin-left: 2em'>
		<label for = 'uploadFonts' class = 'bigbtn'>
			<span>Browse fonts</span>
		</label>
		<input type = 'file' id = 'uploadFonts'
			style = 'display: none'
			onchange = 'angular.element(this).scope().handleFontSelect(event)'
			multiple/>
	</div>
	
	<p class = 'link'
		style = 'float: right'
		ng-click = 'current.addingFonts = false'>
		Close
	</p>
</div>