<div ng-repeat = 'page in ["leftPage", "rightPage"]'
		id = '{{page}}'
		class = 'page {{page}}'
		draggable = 'false'
		ng-controller = 'PageController'
		ng-if = 'show[page]'
		tabindex = 0
		ondrop = 'angular.element(this).scope().dropInPage(event)' 
		ondragover = 'angular.element(this).scope().allowDropInPage(event)'
		ng-mousemove = 'mouseMove(\$event)'
		ng-click = 'pageFocus(\$event)'
		ng-focus = 'pageFocus(\$event)'
		ng-style = "{
			width: pageWidth,
		       	height: pageHeight, 
			top: pageTop,
			'background-color': current[page].background,
			'background-image': 'url(' + current[page].patternURL + ')',
			'background-size': current[page].patternSize
			}">
	
		<canvas ng-repeat= 'frame in current[page].frames'
					ng-controller='CanvasController'
					tabindex = '0'
					class = 'frame inPage {{page + "box"}}'
					title = '{{"Drag a corner or an edge to redimension the frame."| translate}}'
					ondrop = 'angular.element(this).scope().dropInCanvas(event)' 
					ondragover = 'angular.element(this).scope().allowDrop(event)'
					ng-mousedown = 'mouseDown(\$event)' 
					ng-mousemove = 'mouseMove(\$event)'
					ng-keydown = 'keyDown(\$event)'
					ng-click = 'canvasFocus()'
					ng-blur = 'canvasBlur(\$event)'
					ng-style='{cursor: current.cursor,
						transform: "rotate(" + frame.angle + "deg)",
						zIndex: frame.layer,
						}'> </canvas>
	
	<div ng-repeat = 'textBox in current[page].textBoxes' 
			ng-controller = 'TextBoxController'
				class = 'tbContainer {{page + "box"}}'>
			<textarea name = 'textbox'
					placeholder = '{{"Enter text here"| translate}}'
					ng-style='{cursor: current.cursor}'
					title = '{{"Ctrl+Del to delete. Ctrl + arrows to move it around. Drag the bottom-right corner to redimension."|translate}}'
					ng-model = 'textBox.text'
					ng-mousedown = 'mouseDown(\$event)'
					ng-mousemove = 'mouseMove(\$event)'
					ondrop = 'angular.element(this).scope().dropInTA(event)'
					ng-keyup = 'autoResize(\$event)'
					ng-click = 'textFocus(\$event)'
					ng-focus = 'textFocus(\$event)'
					ng-blur = 'blur(\$event)'
					ng-keydown = 'keyDown(\$event)'>
			</textarea>
			<span  ng-show = 'active'
				class = 'textHandle-br fa fa-arrows-h'></span>
			<span ng-show = 'active' 
				class = 'textHandle-tl fa fa-arrows'></span>
	</div>
	
	<svg id = 'refTop' style = 'top: {{current.top + "px"}}'
		ng-show = 'current.showTopLine'>
		<line x1 = '0' y1 = '0' 
			ng-attr-x2 = '{{pwidth}}' y2 = '0' 
			class = 'refLine'>
		</line>
	</svg>
	
	<svg id = 'refBot' style = 'top: {{current.bot + "px"}}'
		ng-show = 'current.showBotLine'>
		<line x1 = '0' y1 = '0' 
			ng-attr-x2 = '{{pwidth}}' y2 = '0' 
			class = 'refLine'>
		</line>
	</svg>
	
	<svg id = 'refLeft' style = 'left: {{current.left + "px"}}'
		ng-show = 'current.showLeftLine'>
		<line x1 = '0' y1 = '0' 
			x2 = '0' ng-attr-y2 = '{{pheight}}' 
			class = 'refLine'>
		</line>
	</svg>
	
	<svg id = 'refRight' style = 'left: {{current.right + "px"}}'
		ng-show = 'current.showRightLine'>
		<line x1 = '0' y1 = '0' 
			x2 = '0' ng-attr-y2 = '{{pheight}}' class = 'refLine'>
		</line>
	</svg>
	<span ng-bind = 'pageMessage[page]'
		class = 'pageMessage'></span>
</div>
