<div id = 'topMenu'>
		
	<img  src = 'static/icons/text2.svg'
			title = '{{"Drag and drop into page to add a text field"|translate}}'
			draggable = 'true'
			ondragstart = 'angular.element(this).scope().dragText(event)'
			class = 'respond draggable'/>
	
	<img src = 'static/icons/frame.svg'
			draggable = 'true'
			ondragstart = 'angular.element(this).scope().dragFrame(event)'
			title = '{{"Drag and drop into page to add a new frame"|translate}}'
			class = 'respond draggable'/>
	
	<img src = 'static/icons/preview.svg'
			class = 'respond clickable'
			ng-click = 'previewPage(current.pageNum)'
			title = '{{"Preview album"|translate}}'/>
			
	<album-move-page direction = 'backward' data-type = 'single'
		src = 'static/icons/pageBack.svg'
		title = '{{"Move this single page backward"|translate}}'></album-move-page>
	<album-move-page direction = 'forward' data-type = 'single'
		src = 'static/icons/pageFor.svg'
		title = '{{"Move this single page forward"|translate}}'></album-move-page>
		
	<album-move-page direction = 'backward' data-type = 'double'
		src = 'static/icons/DBPageBack.svg'
		title = '{{"Move this double page backward"|translate}}'></album-move-page>	
	<album-move-page direction = 'forward' data-type = 'double'
		src = 'static/icons/DBPageFor.svg'
		title = '{{"Move this double page forward"|translate}}'></album-move-page>
		
	<!--<img src = 'static/icons/pageBack.svg'
		class = 'respond clickable'
		ng-click = 'movePageBackward()'
		title = '{{"Move this single page backward"|translate}}'/>
	
	<img src = 'static/icons/pageFor.svg'
		class = 'respond clickable'
		ng-click = 'movePageForward()'
		title = '{{"Move this single page forward"|translate}}'/>-->
		
	<!--<img src = 'static/icons/DBPageBack.svg'
		class = 'respond clickable'
		ng-click = 'moveDoublePageBackward()'
		title = '{{"Move this double page backward"|translate}}'/>
	
	<img src = 'static/icons/DBPageFor.svg'
		class = 'respond clickable'
		ng-click = 'moveDoublePageForward()'
		title = '{{"Move this double page forward"|translate}}'/>
		-->
	
		
	<album-del-page></album-del-page>
	<!--<img src = 'static/icons/delpage.svg'
			title = '{{"Delete this double page"|translate}}'
			ng-click = 'removePageRq()'
			class = 'respond clickable'-->
<!-- 			style = 'float: right'/> -->
	<img title = '{{"Add a new double page"|translate}}'
		ng-click = 'addNewPage()'
		src = 'static/icons/addpage.svg'
		class = 'respond clickable'
		style = 'float: right'/> 
</div>

	
