<div ng-repeat = 'page in ["leftPage", "rightPage"]'
		id = '{{page}}'
		class = 'page {{page}}'
		draggable = 'false'
		ng-controller = 'PageController'
		ng-if = 'show[page]'
		tabindex = 0
		ondrop = 'angular.element(this).scope().dropInPage(event)' 
		ondragover = 'angular.element(this).scope().allowDropInPage(event)'
		ng-mousemove = 'mouseMove(\$event)'
		ng-click = 'pageFocus(\$event)'
		ng-focus = 'pageFocus(\$event)'
		ng-style = "{
			width: pwidth + 'px',
		   height: pheight + 'px',
			top: pageTop,
			'background-color': current[page].background,
			'background-image': 'url(' + current[page].patternURL + ')',
			'background-size': current[page].patternSize
			}">

	<album-frame ng-repeat= 'frame in current[page].frames'></album-frame>
	<album-text-box ng-repeat = 'textBox in current[page].textBoxes'></album-text-box>

	<album-ref-line ref = 'top'></album-ref-line>
	<album-ref-line ref = 'bot'></album-ref-line>
	<album-ref-line ref = 'left'></album-ref-line>
	<album-ref-line ref = 'right'></album-ref-line>
	<span ng-bind = 'pageMessage[page]'
		class = 'pageMessage'></span>
</div>
