<div  class = 'alert'
	style = 'width: {{screenWidth/4 + "px"}}; 
					left: {{screenWidth/4 + "px"}}; 
					top: {{screenWidth/12 +"px"}}'
	ng-show = 'delAlbum'
	ng-keydown = 'alertKeydown(\$event)'>
	<span style = 'color: red' translate>
		The album 
	</span>
	<span style = 'font-weight: bold'> {{album.title}} </span> 
	<span  style = 'color: red' translate>will be removed definitely.</span>
	<br/>
	<span style = 'color: red' translate>
		Are you sure to delete this album?
	</span>
	<br/> <br/>
	<button type = 'button' class = 'respond'
		id = 'delAlbum'
		ng-click = 'removeAlbum(current.albumId)'
		style = 'float: left' translate>
		Yes, delete it.
	</button>
	<button type = 'button' class = 'respond' 
		id = 'notDelAlbum'
		ng-click = 'delAlbum = false; current.hideAlbum = false' 
		style = 'float: right' translate>
		No, do not delete.
	</button>
</div>

	