	<div id = 'banner'> 
		<div class = 'content'>
			<span id = 'slogan' translate>Create your own story</span> 
			<div id = 'languages'>
				<album-language 
					lang = 'en'
					title = 'English'
					src = 'static/icons/en.png'></album-language>
				<album-language 
					title = 'Français'
					lang = 'fr'
					src = 'static/icons/fr.png'/></album-language>
				<album-language
					title = 'Tiếng Việt' 
					lang = 'vi'
					src = 'static/icons/vn.png'/></album-language>
			</div>
			
			<!--<div id = 'siteMenu'>
				<span class = 'siteMenuItem'>
					<img src = 'static/icons/go-home.png'
						class = 'clickable'
						title = '{{"Back to home page"|translate}}'
						ng-show = '!greeting' ng-click = 'goHome()'/>
				</span>-->
<!--
				<span class = 'siteMenuItem clickable'>Guide</span>
				<span class = 'siteMenuItem clickable'>FAQ</span>
-->
<!-- 			</div> -->
		</div>
	</div>