<div id = 'formats' ng-if = 'current.showHome'>		
	<h4 translate> Album formats </h4> 

	<album-format-choice 
		width = '500' 
		height = '500' 
		title = '18cm x 18cm' 
		create-album = 'createAlbum(500,500)'></album-format-choice>
	
	<album-format-choice 
		width = '708'
		height = '499'
		title = '17.6cm x 25cm'
		create-album = 'createAlbum(708, 499)'> </album-format-choice>

		<br/> <br/>
		
	<div class = 'bigbtn respond' 
		ng-click = 'showCustomAlbum = !showCustomAlbum'
		ng-init = 'showCustomAlbum = false'
		style = 'width: 15em; font-size: 100%'>
		Custom format
	</div>
	<div>
		<form ng-submit = 'albumCtrl.createCustomAlbum(customWidth, customHeight)'
			ng-show = 'showCustomAlbum'
			style = 'font-size: 90%; display: table'>
			<div style = 'display: table-row'>
				<label style = 'display: table-cell'> Height (cm) </label>
				<input type = 'number' step = '0.1' required
					ng-model = 'customHeight' maxlength = '5' min = '5' max = '50'
					style= 'width: 3em;display: table-cell'/> <br/>
			</div>
			<div style = 'display: table-row'>
				<label style = 'display: table-cell' > Width (cm)</label>
				<input type = 'number' step = '0.1' required 
					ng-model = 'customWidth' 
					maxlength = '5' min = '5' max = '50'
					style = 'width: 3em; display: table-cell'/>  
				<input type = 'submit' value = 'Create' 
				style = 'float: right'>
			</div>
		
		</form>
	</div>
	
</div>