<div id = 'imageLoader'
	ng-controller = 'ImageLoaderController'
	ondrop = 'angular.element(this).scope().handleFileSelect(event)'
	ondragover = 'return false;'
	ondragenter = 'return false;'
	ng-if = 'imgLoad'>
	<label for = 'files' class = 'medbtn'
		id = 'loadPhotos'
		title = '{{"Click to add photos from your computer"|translate}}'> 
		<span translate> Add photos </span>  <span ng-show = 'loadingImg' class = 'icon fa fa-spinner fa-spin'> </span>
	</label>
	
	<input type = 'file' id = 'files' 
		style = 'display: none'
		onchange = 'angular.element(this).scope().handleFileSelect(event)'
		multiple />
	<div id = 'output'></div>
</div>