$def with (mode)
<!DOCTYPE html> 
<html ng-app = 'albumApp' ng-init = 'greeting = true' ng-strict-di='false'>
<head profile="http://www.w3.org/2005/10/profile">
	<meta charset="UTF-8">


	$if mode == 'dev':
		<script src = 'static/js/angular_13.js'></script>
		<script src = 'static/js/angular-gettext.js'></script>
		<script src = 'static/js/pdfkit.js'></script>
		<script src = 'static/js/blob-stream.js'></script>
		<script src = 'static/js/exif.js'></script>

		<script src = 'static/js/siteController.js'></script>
		<script src = 'static/js/albumController.js'></script>
		<script src = 'static/js/pageController.js'></script>
		<script src = 'static/js/canvasController.js'></script>
		<script src = 'static/js/imageLoaderController.js'></script>
		<script src = 'static/js/layoutController.js'></script>
		<script src = 'static/js/textController.js'></script>
		<script src = 'static/js/services.js'></script>
		<script src = 'static/js/layoutFac.js'></script>
	$else:
		<script src = 'static/js/angular.min.js'></script>
		<script src = 'static/js/angular-gettext.min.js'></script>
		<script src = 'static/js/pdfkit.js'></script>
		<script src = 'static/js/blob-stream.js'></script>
		<script src = 'static/js/exif.js'></script>

		<script src = 'static/build/album.js'></script>

	<link rel="stylesheet" type="text/css" href="static/css/style.css"/>
	<link rel = "stylesheet" type = "text/css" href = "static/css/homepage.css">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"> 
	<link rel="icon" type="image/ico" href="static/icons/album.ico">
	<link rel="stylesheet" type="text/css" href="static/css/elusive-webfont.css" />
	<title>Create your own story</title> 
</head>

<body ng-controller = 'SiteController' 
	ng-show = 'loaded'
	ng-mouseup = 'mouseUp(\$event)'>

	<div id = 'banner'> 
		<div class = 'content'>
			<span id = 'slogan' translate>Create your own story</span> 
			<div id = 'languages'>
				<img title = 'English' class = 'clickable'
					ng-click = 'changeLanguage("en")'
					src = 'static/icons/en.png'/>
				<img title = 'Français' class = 'clickable'
					ng-click = 'changeLanguage("fr")'
					src = 'static/icons/fr.png'/>
				<img title = 'Tiếng Việt' class = 'clickable'
					ng-click = 'changeLanguage("vn")'
					src = 'static/icons/vn.png'/>
			</div>
			<div id = 'siteMenu'>
				<span class = 'siteMenuItem'>
					<img src = 'static/icons/go-home.png'
						class = 'clickable'
						title = '{{"Back to home page"|translate}}'
						ng-show = '!greeting' ng-click = 'goHome()'/>
				</span>
<!--
				<span class = 'siteMenuItem clickable'>Guide</span>
				<span class = 'siteMenuItem clickable'>FAQ</span>
-->
			</div>
		</div>
	</div>
	

	<div ng-controller = 'AlbumController'>

	<!--__________________welcome screen____________________-->


		<div class = 'userZone'>
			<div ng-if = 'showAlbums'
				id = 'albumList'>
				<span style = 'font-weight: bold' translate> Your albums </span>
				<ul> 
					<li ng-repeat = 'albumSC in albumSCs' style = 'margin-bottom: 1em'>
						<span class = 'link respond'
							ng-click = 'openAlbum(albumSC)'
							ng-bind = 'albumSC.title||albumSC.date||"Album"'
							title = '{{"Click to go to album" | translate}}'></span> 
						<br/>
						<span ng-bind = 'albumSC.description'
							class = 'description'></span>
					</li>
				</ul>
			</div>
		</div>
		
		<div id = 'formats' ng-if = 'showHome'>		
			<h4 translate> Album formats </h4> 

			<div class = 'format container'> 
<!--				<div class="content">
					<span class = 'header'> 15cmx15cm </span> 
					<div class = 'model'>
						<img src = '' alt =''/>
					</div> 
					<span class = 'newAlbum clickable'
						ng-click = 'createAlbum()'
						translate> 
						Create album</span>
				</div>-->
			</div>
			<div class = 'format container'> 
				<div class = 'content'>
					<span class = 'header'> 21cmx21cm </span> 
					<div class = 'model'>
						<img src = '' alt =''>
					</div> 
					<span class = 'newAlbum clickable' 
						ng-click = 'createAlbum()'
						translate> 
						Create album</span>
				</div>
			</div>
		</div>
		<!--_____________begin album__________________-->
		<div ng-show = '\$parent.inAlbum'> 
			
			<div id = 'sideMenu'>
			
				<ul>
					<!--<li class = 'link respond' ng-click = 'createAlbum()' 
						title = '{{"Click to create a new album"|translate}}'
						translate>
						New album 
					</li>-->
					<li class = 'link respond' id = 'allAlbums' 
						ng-click = 'toAlbumList()' translate>
						Your albums
					</li>

					<li class = 'link respond' 
						ng-click = 'delAlbumRq()' translate>
						Remove this album
					</li>
				</ul>
				
				<div id = 'export' ng-controller = 'ExportController'>
					<span class = 'bigbtn respond' 
						ng-click = 'exportAlbum()' 
						title = '{{"Export this album to pdf file to use on your computer or for printing"|translate}}' 
						translate>
						Export this album
					</span>

					<div id = 'exportWindow'
						ng-show = 'showExportWindow'>
						<img 
							src = 'static/icons/window-close.png'
							style = 'margin-left: 100%; margin-top: -3%' 
							class = 'clickable'
							ng-click = 'closeExportWindow()'/>
						<div id = 'exportMenu'
							ng-show = 'showExportMenu'>
							<span translate>To which format would you like to export your album?</span>
							<ul> 
								<li >
									<img src = 'static/icons/computer.png'/> 
									<span class = 'link'
										ng-click = 'generatePdf(150)'
										translate>
										PDF 72dpi (to use on computer)
									</span>
								</li>
								<li>
									<img src = 'static/icons/printer.png'/>
									<span class = link
										ng-click = 'generatePdf(300)'
										translate>
										PDF 300dpi (for printing) 
									</span>
								</li>
								<li> 
									<img src = 'static/icons/internet.png'/>
									<span class = 'link'
										ng-click = 'generateJpg()'
										translate>
										JPEG images
									</span>
								</li>
							</ul>
						</div>
						<div ng-show = 'processingPdf' >
							<span translate>
								Generating pdf. Please be patient...
							</span>
							<div style = 'font-size: 90%' > 
						
							<br/>
							<span translate>
								...processing page {{processPage}}
							</span>
							<br/>
						</div>
						</div>
						<div ng-show = 'showLink'>
							<p translate> Congratulation! </p>
							<p translate>Your PDF album is ready.</p>
							<a download = '{{album.title + ".pdf"}}' 
								id = 'pdfoutput' translate>
								Download file
							</a>
						</div>
					</div>
				</div>
			</div>
			
			<!--=============================End sideMenu =====================-->
			
			<div id = 'abTitle'>
				<div name = 'editTitle'
						ng-show = 'hasTitle'
						ng-click = 'editTitle()'>
					<span ng-bind = 'album.title' 
						name = 'title'
						ng-show = 'hasTitle'> 
					</span>
					<img src = 'static/icons/edit.png'
						title = '{{"edit title"|translate}}'
						name = 'edit'
						class = 'clickable'/>
				</div>
				
				<form ng-submit = 'showTitle()'
						class = 'inline left'
						ng-show = 'enterTitle'>
					<input type = 'text' 
						id = 'titleInput'
						ng-model = 'album.title'
						ng-blur = 'titleBlur()'
						maxlength = '20'
						placeholder = '{{"Enter a title"| translate}}'
						required
						value = 'album.title'/>
				</form>
				

					
			<div class = 'right inline clickable'
					ng-show = 'hasDescription'
					ng-click = 'editDescription()'>
					<span ng-bind = 'album.description'
						class = 'description'>
					</span>
					<img src = 'static/icons/edit.png'
						title = '{{"edit description"|translate}}'
						name = 'edit'
						class = 'clickable'/>
				</div>
				
				<form ng-submit = 'showDescription()'
					ng-if = 'enterDescription'
					class = 'inline right'
					ng-click = 'editDescription()'>
					<input type = 'text' 
						id = 'inputDescription'
						ng-model = 'album.description'
						ng-blur = 'descriptionBlur()'
						maxlength = '40'
						placeholder = '{{"Enter a description"|translate}}'
						value = 'album.title'/>
				</form>
				
			</div>


			<div id = 'album'>
				<div id = 'doublepage'>
						
					<div id = 'prev' class = 'link'
						ng-show = 'show.leftPage' 
						ng-click = 'prevPage()'
						title = '{{"go to the previous page"|translate}}'>
						<span class = 'el-icon-chevron-left'> <span>
						<!--<img src = 'static/icons/prev.png'/>
						<span translate> previous </span>-->
					</div>
					
					<div id = 'next' class = 'link'
						ng-show = 'show.rightPage' 
						ng-click = 'nextPage()'
						title = '{{"go to the next page"|translate}}'>
						<span class = 'el-icon-chevron-right'> <span>
						<!--<img src = 'static/icons/next.png'/>
						<span translate>next</span>-->
					</div>
					
					<div id = 'topMenu'>
						<img title = '{{"Add a new double page"|translate}}'
							ng-click = 'addNewPage()'
							src = 'static/icons/addpage.svg'
							class = 'respond clickable'/> 
						
						<img  src = 'static/icons/text2.svg'
								title = '{{"Drag and drop into page to add a text field"|translate}}'
								draggable = 'true'
								ondragstart = 'angular.element(this).scope().dragText(event)'
								class = 'respond draggable'/>
						
						<img src = 'static/icons/frame.svg'
								draggable = 'true'
								ondragstart = 'angular.element(this).scope().dragFrame(event)'
								title = '{{"Drag and drop into page to add a new frame"|translate}}'
								class = 'respond draggable'/>
						
						<img src = 'static/icons/preview.svg'
								class = 'respond clickable'
								ng-click = 'previewPage(current.pageNum)'
								title = '{{"Preview album"|translate}}'/>
					
						<img src = 'static/icons/delpage.svg'
								title = '{{"Delete this double page"|translate}}'
								ng-click = 'removePage()'
								class = 'respond clickable'
								style = 'float: right'/>
					</div>
					
					<span ng-show = 'show.leftPage'
						id = 'leftPageNum'>
						{{current.pageNum}}/{{album.content.length}}
					</span>
					<span ng-show = 'show.rightPage'
						id = 'rightPageNum'>
						{{current.pageNum + 1}}/{{album.content.length}}
					</span>


					<!--______________________a page in album______________________-->


					<div ng-repeat = 'page in ["leftPage", "rightPage"]'
							id = '{{page}}'
							class = 'page {{page}}'
							draggable = 'false'
							ng-controller = 'PageController'
							ng-if = 'show[page]'
							tabindex = 0
							ondrop = 'angular.element(this).scope().dropInPage(event)' 
							ondragover = 'angular.element(this).scope().allowDropInPage(event)'
							ng-mousemove = 'mouseMove(\$event)'
							ng-click = 'pageFocus(\$event)'
							ng-focus = 'pageFocus(\$event)'
							style = 'width: {{pageWidth}}; height: {{pageHeight}}; 
								background-color: {{current[page].background}}'>
						
						<div ng-repeat= 'frame in current[page].frames' 
							ng-controller='CanvasController'
							ng-style='{cursor: current.cursor}'>
							<canvas tabindex = '0' 
										class = 'frame inPage'
										title = '{{"Drag a corner or an edge to redimension the frame."| translate}}'
										ondrop = 'angular.element(this).scope().dropInCanvas(event)' 
										ondragover = 'angular.element(this).scope().allowDrop(event)'
										ng-mousedown = 'mouseDown(\$event)' 
										ng-mousemove = 'mouseMove(\$event)'
										ng-keydown = 'keyDown(\$event)'
										ng-click = 'canvasFocus(\$event)'
										ng-focus = 'canvasFocus(\$event)'
										ng-blur = 'canvasBlur(\$event)'/>
						</div>
						
						<div ng-repeat = 'textBox in current[page].textBoxes' 
								ng-controller = 'TextBoxController'>
							<div class = 'tbContainer'>
								<textarea name = 'textbox'
										placeholder = '{{"Enter text here"| translate}}'
										ng-style='{cursor: current.cursor}'
										title = '{{"Ctrl+Del to delete. Ctrl + arrows to move it around. Drag the bottom-right corner to redimension."|translate}}'
										ng-model = 'textBox.text'
										ng-mousedown = 'mouseDown(\$event)'
										ng-mousemove = 'mouseMove(\$event)'
										ondrop = 'angular.element(this).scope().dropInTA(event)'
										ng-keyup = 'autoResize(\$event)'
										ng-click = 'textFocus(\$event)'
										ng-focus = 'textFocus(\$event)'
										ng-blur = 'blur(\$event)'
										ng-keydown = 'keyDown(\$event)'>
								</textarea>
								<span  ng-show = 'active'
									class = 'textHandle-br fa fa-arrows-h'></span>
								<span ng-show = 'active' 
									class = 'textHandle-tl fa fa-arrows'></span>
							</div>
						</div>

					</div>
					
					<div id = 'controls'
						ng-mousedown = 'controlsMouseDown()'
						ng-mouseleave = 'controlsMouseLeave()'
						class = 'controls'>
						<div id = 'textControl'
							
							ng-controller = 'TextController'
							ng-show = 'current.onEditText'>
							<span class = 'textCtrl'
								style = 'font-weight: bold; 
									font-size: 90%; 
									margin-right: 0.5em; margin-left: 1em;' translate>
									Text 
							</span>
							<div class = 'textSelect'>
							<select style = 'height: 2em'
								title = '{{"Choose text font"|translate}}'
								ng-model = 'current.font.family' 
								ng-change = 'changeFont(current.font.family)'>
								<optgroup ng-repeat = 'font in fonts' class = '{{font}}'>
								<option value = '{{font}}'>
									{{font}}
								</option> 
								</optgroup>
							</select> 
							</div>
							<div  class = 'textSelect'>
							<select 
								style = 'height: 2em'
								title = '{{"change font size"|translate}}'
								ng-model = 'current.font.size'
								ng-change = 'changeFontSize(current.font.size)'
								ng-options = 'i for i in [8, 10, 12, 14, 16, 18, 20, 24, 30]'
								ng-value = 'i'> {{i}}
							</select>
							</div>
							
							<div class = 'btn textCtrl respond' 
							ng-click = 'italicClick()'>
								<span  class = 'fa fa-italic ctrlIcon'></span>
							</div>
							<div class = 'btn textCtrl respond' 
								ng-click = 'boldClick()'>
								<span class = 'fa fa-bold ctrlIcon'></span>
							</div>
							
							<!--Color falldown menu -->
							<div id = 'textColor'
									class = 'btn textCtrl respond '
									ng-click = 'showColors()'
									title = '{{"Choose text color"|translate}}'
									style = 'color: {{current.font.color}}'>
								<span translate>Text color</span>
							</div>
								<div tabindex = 0 
									class = 'textColorMenu'
									id = 'colorMenu'
									ng-if = 'showColorMenu' 
									ng-init = 'showColorMenu = false'>
									<div class = 'colorTable '
										tabindex = 0 
										ng-repeat = 'color in colors'
										style = 'background-color:{{color}};'
										ng-focus = 'changeColor(color)'>
									</div>
								</div>
							<!-- end of color menu-->
							
							<div 
								class = 'btn textCtrl respond '
								title = '{{"Align text left"|translate}}'
								ng-click = 'align("left")'>
								<span class = 'fa fa-align-left ctrlIcon'></span>
<!-- 								<img src = 'static/icons/left.svg'/> -->
							</div>
							<div	class = 'btn textCtrl respond '
								title = '{{"Align text right"|translate}}'
								ng-click = 'align("right")'>
								<span class = 'fa fa-align-right ctrlIcon'></span>
<!-- 								<img src = 'static/icons/right.svg'/> -->
							</div>
							<div 
								class = 'btn textCtrl respond '
								title = '{{"Align text center"|translate}}'
								ng-click = 'align("center")'>
								<span class = 'fa fa-align-center ctrlIcon'></span>
<!-- 								<img src = 'static/icons/center.svg'/> -->
							</div>
							<div class = 'btn textCtrl respond '
								title = '{{"Rotate text box right"|translate}}'
								ng-mousedown = 'rotate("right")'
								ng-mouseup = 'mouseUp()'
								ng-mouseleave = 'mouseLeave()'>
								<span class = 'fa fa-rotate-right ctrlIcon'></span>
<!-- 								<img src = 'static/icons/rotate-right.png'/> -->
							</div>
							<div class = 'btn textCtrl respond '
								title = '{{"Rotate text box left"|translate}}'
								ng-mousedown = 'rotate("left")'
								ng-mouseup = 'mouseUp()'
								ng-mouseleave = 'mouseLeave()'>
								<span class = 'fa fa-rotate-left ctrlIcon'></span>
<!-- 								<img src = 'static/icons/rotate-left.png'/> -->
							</div>
							<div class = 'btn textCtrl respond '
								title = '{{"Remove text box"|translate}}'
								ng-click = 'removeTextArea()'>
								<span class = 'fa fa-trash ctrlIcon'></span>
<!-- 								<img src = 'static/icons/trash.png'/> -->
							</div>
						</div>
						
						<div id = 'imageControl' 
							ng-controller = 'ImageController'
							ng-show = 'current.onEditImage'>
							<span class = 'imgCtrl'
								style = 'font-size: 90%; font-weight: bold;
								margin-left: 1em; margin-right: 0.5em'
								translate>
								Style image
							</span>
							<div 
								ng-mousedown = 'zoomImage("in")'
								ng-mouseup = 'mouseUp()'
								ng-mouseleave = 'mouseLeave()'
								title = '{{"Zoom image in. Hot key: +"|translate}}'
								class = 'btn respond imgCtrl'>
									<span class = 'fa fa-search-plus ctrlIcon'></span>
<!-- 								<img src = 'static/icons/zoomin.png'/>  -->
							</div>
							<div 
								ng-mousedown = 'zoomImage("out")'
								ng-mouseup = 'mouseUp()'
								ng-mouseleave = 'mouseLeave()' 
								title = '{{"Zoom image out. Hot key: -"|translate}}'
								class = 'btn respond imgCtrl'>
								<span class = 'fa fa-search-minus ctrlIcon'></span>
								<!--<img src = 'static/icons/zoomout.png'/> -->
							</div>
									
							<div ng-mousedown = 'go("left")'
								ng-mouseup = 'mouseUp()'
								ng-mouseleave = 'mouseLeave()'
								title = '{{"Move image zone left. Hot key: Ctrl + arrow left."|translate}}'
								class = 'btn respond imgCtrl'>
								<span class = 'fa fa-arrow-left ctrlIcon'></span>
<!-- 								<img src = 'static/icons/goleft.png'/> -->
							</div>
							
							<div ng-mousedown = 'go("right")'
								ng-mouseup = 'mouseUp()'
								ng-mouseleave = 'mouseLeave()'
								title = '{{"Move image zone right. Hot key: Ctrl + arrow right."|translate}}'
								class = 'btn respond imgCtrl'>
								<span class = 'fa fa-arrow-right ctrlIcon'></span>
<!-- 								<img src = 'static/icons/goright.png'/> -->
							</div>
							
							<div ng-mousedown = 'go("up")'
								ng-mouseup = 'mouseUp()'
								ng-mouseleave = 'mouseLeave()'
								title = '{{"Move image zone up. Hot key: Ctrl + arrow up."|translate}}'
								class = 'btn respond imgCtrl'>
								<span class = 'fa fa-arrow-up ctrlIcon'></span>
<!-- 								<img src = 'static/icons/goup.png'/> -->
							</div>
							
							<div ng-mousedown = 'go("down")'
								ng-mouseup = 'mouseUp()'
								ng-mouseleave = 'mouseLeave()'
								title = '{{"Move image zone down. Hot key: Ctrl + arrow down."|translate}}'
								class = 'btn respond imgCtrl'>
								<span class = 'fa fa-arrow-down ctrlIcon'></span>
<!-- 								<img src = 'static/icons/godown.png'/> -->
							</div>
							
							<div ng-mousedown = 'rotate("right")'
								ng-mouseup = 'mouseUp()'
								ng-mouseleave = 'mouseLeave()'
								title = '{{"Rotate image right"|translate}}'
								class = 'btn respond imgCtrl'>
								<span class = 'fa fa-rotate-right ctrlIcon'></span>
							</div>
							
							<div ng-mousedown = 'rotate("left")'
								ng-mouseup = 'mouseUp()'
								ng-mouseleave = 'mouseLeave()'
								title = '{{"Rotate image left"|translate}}'
								class = 'btn respond imgCtrl'>
								<span class = 'fa fa-rotate-left ctrlIcon'></span>
<!-- 								<img src = 'static/icons/rotate-left.png'/> -->
							</div>
								
							<div ng-click = 'removeImage()'
								title = '{{"Delete image. Hot key: Ctrl + Del. Use Del to remove the frame and its content."|translate}}'
								class = 'btn respond imgCtrl'> 
								<span class = 'fa fa-trash ctrlIcon'></span>
<!-- 								<img src = 'static/icons/trash.png'/> -->
							</div>
							
						</div>
					</div>
					<div id = 'previewText'>
						</div>
				</div>
			
				<!--_______________select layout________________________-->
				<div id = 'selectLayout'
					class = 'layoutCtrl'
					ng-controller = 'LayoutController'>
					<span 
						
						style = 'font-weight: bold; font-size: 90%; margin-left: 1em' 
						translate>
						Choose page layout
					</span>
					<span 
						style = 'font-size: 80%'
						translate> (photos/page)</span> 
					
					<div id = 'layoutSets'
						>
						<span ng-repeat = 'choice in layoutList'
							class = 'link layout respond ' 
							ng-click = 'showLayouts(choice)'>
							  {{choice}} 
						</span>
					</div>
					
	<!--Choose page background color============================-->
	
					<div id = 'pageBGcolor' class = 'BGcolorMenu'>
						<span class = 'btn respond'
							title = '{{"Choose page background color"|translate}}'
							ng-click = 'showColors()'
							ng-blur = 'cbBlur()'
							translate>
							Page background
						</span>
						<br/>
						<div tabindex = '0'
							id = 'BGcolorMenu'
							ng-show = 'showColorMenu' 
							ng-init = 'showColorMenu = false'>
							<div class = 'colorTable link '
								tabindex = 0 
								ng-repeat = 'color in colors'
								style = 'background-color:{{color}};'
								ng-click = 'changeBGColor(color)'>
							</div>
							<div class = 'inline'
								style = 'float: left; background-color: #FFFFFF
									 height: 1.5em'>
							<form class = 'inline ' ng-submit = 'getUserColor()'>
									<input type = 'text'
										style = 'width: 7em'
										ng-model = 'userColor'
										placeholder = '#FFFFFF'/>
							</form>
							</div>
							<div class = 'link small respond '
								style = 'text-align: center; line-height: 1.8em;
									float: right'
								ng-click = 'changeAlbumBGColor()' translate>
								Apply for all pages
							</div>
							
						</div>
					</div>
				<!--===============================================================-->
	
					<div id = 'layouts' >
						<canvas ng-repeat = 'layout in layouts'
							title = '{{"Choose a page first then click on the layout to load to the chosen page."|translate}}'
							ng-controller = 'minLayoutController'
							ng-click = 'loadPageLayout(layout)'
							ng-mouseover = 'previewLayout(layout, \$event)'
							ng-mouseleave = 'mouseLeave()'
							class = 'clickable minframe '/> 
					</div>
				</div>
				<!--___________________end of select layour____________________-->
		
			<!--___________________image loader_____________________________-->
				<div id = 'imageLoader'
					ng-controller = 'ImageLoaderController'
					ng-if = 'imgLoad'>
					<label for = 'files' class = 'medbtn'
						id = 'loadPhotos'
						title = '{{"Click to add photos from your computer"|translate}}'> 
						<span translate> Add photos </span> 
				
					</label>
					<input type = 'file' id = 'files' 
						style = 'display: none'
						onchange = 'angular.element(this).scope().handleFileSelect(event)'
						multiple />
					<div id = 'output'></div>
				</div>
			</div>

		

	
	<!-- ____________________________ notifications_________________________-->
	
			<div ng-show = 'hideAlbum' class = 'pageDesactivate'
					tabindex = '0'>
			</div>
		
		<!--_____________________alert delAlbum_____________________-->
		
		<div  class = 'alert'
						style = 'width: {{screenWidth/4 + "px"}}; 
										left: {{screenWidth/4 + "px"}}; 
										top: {{screenWidth/12 +"px"}}'
						ng-show = 'delAlbum'
						ng-keydown = 'alertKeydown(\$event)'>
						<span style = 'color: red' translate>
							The album 
						</span>
						<span style = 'font-weight: bold'> {{album.title}} </span> 
						<span  style = 'color: red' translate>will be removed definitely.</span>
						<br/>
						<span style = 'color: red' translate>
							Are you sure to delete this album?
						</span>
						<br/> <br/>
						<button type = 'button' class = 'respond'
							id = 'delAlbum'
							ng-click = 'removeAlbum(current.albumId)'
							style = 'float: left' translate>
							Yes, delete it.
						</button>
						<button type = 'button' class = 'respond' 
							id = 'notDelAlbum'
							ng-click = 'delAlbum = false; hideAlbum = false' 
							style = 'float: right' translate>
							No, do not delete.
						</button>
				</div>
		
		
		<!--_______________Preview_____________________________________-->
		
		<div tabindex = '0'
			ng-show = 'previewMode' id = 'previewPage'
			style = 'width: {{previewWidth + "px"}}; 
			height: {{previewHeight + "px"}};'>
			<span ng-show = 'viewPageNum != 0'
					class = 'link prev fa fa-chevron-left'
					ng-click = 'previewPage(viewPageNum - 2)'> </span>
			<div id = 'leftPreview'
				ng-show = 'viewPageNum != 0'
				style = 'position: absolute; top: 0px; left: 0px; 
					width: {{previewWidth/2 + "px"}}; 
					height: {{previewHeight + "px"}};
					border-right: 1px solid #CCC;'>
			</div>
			<div id = 'rightPreview'
				ng-show = 'viewPageNum != album.content.length'
				style = 'position: absolute; top: 0px;
					left: {{(previewWidth/2+1)  + "px"}};
					width: {{(previewWidth/2 - 1) + "px"}}; 
					height: {{previewHeight + "px"}};'>
			</div>
			
			<span	class = 'link next fa fa-chevron-right' 
					ng-show = 'viewPageNum != album.content.length'
					ng-click = 'previewPage(viewPageNum + 2)'> </span>
			
			<span class = 'clickable close fa fa-remove'
					ng-click = 'removePreview()'> </span>
		</div>		
	</div>
	</div>
</body>
</html>
