$def with (mode)
<!DOCTYPE html> 
<html ng-app = 'albumApp' ng-init = 'greeting = true' ng-strict-di='false'>
<head profile="http://www.w3.org/2005/10/profile">
	<meta charset="UTF-8">


	$if mode == 'dev':
		<script src = 'static/js/angular_13.js'></script>
		<script src = 'static/js/angular-gettext.js'></script>
		<script src = 'static/js/pdfkit.js'></script>
		<script src = 'static/js/blob-stream.js'></script>
		<script src = 'static/js/exif.js'></script>
		<script src = 'static/js/FileSaver.min.js'></script>
		<script src = 'static/js/jszip.min.js'></script>
		
		
		<script src = 'static/js/siteController.js'></script>
		<script src = 'static/js/albumController.js'></script>
		<script src = 'static/js/pageController.js'></script>
		<script src = 'static/js/canvasController.js'></script>
		<script src = 'static/js/imageLoaderController.js'></script>
		<script src = 'static/js/layoutController.js'></script>
		<script src = 'static/js/textController.js'></script>
		<script src = 'static/js/services.js'></script>
		<script src = 'static/js/layoutFac.js'></script>
	$else:
		<script src = 'static/js/angular.min.js'></script>
		<script src = 'static/js/angular-gettext.min.js'></script>
		<script src = 'static/js/pdfkit.js'></script>
		<script src = 'static/js/blob-stream.js'></script>
		<script src = 'static/js/exif.js'></script>
		<script src = 'static/js/FileSaver.min.js'></script>
		<script src = 'static/js/jszip.min.js'></script>

		<script src = 'static/build/album.js'></script>

	<link rel="stylesheet" type="text/css" href="static/css/style.css"/>
	<link rel = "stylesheet" type = "text/css" href = "static/css/homepage.css"/>
	<link rel="stylesheet" type="text/css" href="static/css/fontfaces.css"/>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/> 
	<link rel="icon" type="image/ico" href="static/icons/album.ico"/>
	<link rel="manifest" href="maps_app/manifest.json">
	<title>Create your own story</title> 
</head>

<body ng-controller = 'SiteController' 
	ng-show = 'loaded'
	ng-mouseup = 'mouseUp(\$event)'>

	<div id = 'banner'> 
		<div class = 'content'>
			<span id = 'slogan' translate>Create your own story</span> 
			<div id = 'languages'>
				<img title = 'English' class = 'clickable'
					ng-click = 'changeLanguage("en")'
					src = 'static/icons/en.png'/>
				<img title = 'Français' class = 'clickable'
					ng-click = 'changeLanguage("fr")'
					src = 'static/icons/fr.png'/>
				<img title = 'Tiếng Việt' class = 'clickable'
					ng-click = 'changeLanguage("vi")'
					src = 'static/icons/vn.png'/>
			</div>
			<div id = 'siteMenu'>
				<span class = 'siteMenuItem'>
					<img src = 'static/icons/go-home.png'
						class = 'clickable'
						title = '{{"Back to home page"|translate}}'
						ng-show = '!greeting' ng-click = 'goHome()'/>
				</span>
<!--
				<span class = 'siteMenuItem clickable'>Guide</span>
				<span class = 'siteMenuItem clickable'>FAQ</span>
-->
			</div>
		</div>
	</div>
	

	<div ng-controller = 'AlbumController'>

	<!--__________________welcome screen____________________-->


		<div class = 'userZone'>
			<div ng-if = 'showAlbums'
				id = 'albumList'>
				<span style = 'font-weight: bold' translate> Your albums </span>
				<ul> 
					<li ng-repeat = 'albumSC in albumSCs' style = 'margin-bottom: 1em'>
						<span class = 'link respond'
							ng-click = 'openAlbum(albumSC)'
							ng-bind = 'albumSC.title||albumSC.date||"Album"'
							title = '{{"Click to go to album" | translate}}'></span> 
						<br/>
						<span ng-bind = 'albumSC.description'
							class = 'description'></span>
					</li>
				</ul>
			</div>
		</div>
		
		<div id = 'formats' ng-if = 'showHome'>		
			<h4 translate> Album formats </h4> 

<!--				<div class = 'format container'> 
			<div class="content">
					<span class = 'header'> 15cmx15cm </span> 
					<div class = 'model'>
						<img src = '' alt =''/>
					</div> 
					<span class = 'newAlbum clickable'
						ng-click = 'createAlbum()'
						translate> 
						Create album</span>
				</div>
			</div>-->
			<div class = 'format container'> 
				<div class = 'content'>
					<span class = 'header'> 21cm x 21cm </span> 
					<div class = 'model'>
						<img src = '' alt =''>
					</div> 
					<span class = 'newAlbum clickable' 
						ng-click = 'createAlbum(595, 595)'
						translate> 
						Create album</span>
				</div>
			</div>
			
			<div class = 'format container'> 
				<div class = 'content'>
					<span class = 'header'> 17.6cm x 25cm </span> 
					<div class = 'model'>
						<img src = '' alt =''>
					</div> 
					<span class = 'newAlbum clickable' 
						ng-click = 'createAlbum(708, 499)'
						translate> 
						Create album</span>
				</div>
			</div>
			
			<br/> <br/>
			<div class = 'bigbtn respond' 
				ng-click = 'showCustomAlbum = !showCustomAlbum'
				ng-init = 'showCustomAlbum = false'
				style = 'width: 15em; font-size: 100%'>
				Custom format
			</div>
				<div>
					<form ng-submit = 'createCustomAlbum(customWidth, customHeight)'
						ng-show = 'showCustomAlbum'
						style = 'font-size: 90%; display: table'>
					<div style = 'display: table-row'>
					<label style = 'display: table-cell'> Height (cm) </label>
					<input type = 'number' step = '0.1' required
						ng-model = 'customHeight' maxlength = '5' min = '5' max = '50'
						style= 'width: 3em;display: table-cell'/> <br/>
					</div>
					<div style = 'display: table-row'>
					<label style = 'display: table-cell' > Width (cm)</label>
					<input type = 'number' step = '0.1' required 
						ng-model = 'customWidth' 
						maxlength = '5' min = '5' max = '50'
						style = 'width: 3em; display: table-cell'/>  
					<input type = 'submit' value = 'Create' 
					style = 'float: right'>
					</div>
					
					</form>
				</div>
			
		</div>
		<!--_____________begin album__________________-->
		<div ng-show = '\$parent.inAlbum'> 
			
			<div id = 'sideMenu'>
			
				<ul>
					<!--<li class = 'link respond' ng-click = 'createAlbum()' 
						title = '{{"Click to create a new album"|translate}}'
						translate>
						New album 
					</li>-->
					<li class = 'link respond' id = 'allAlbums' 
						ng-click = 'toAlbumList()' translate>
						Your albums
					</li>
					
					<li class = 'link respond'
						ng-click = 'saveAlbum()' translate>
						Save this album
					</li>

					<li class = 'link respond' 
						ng-click = 'delAlbumRq()' translate>
						Remove this album
					</li>
				</ul>
				
				<div id = 'export' ng-controller = 'ExportController'>
					<span class = 'bigbtn respond' 
						ng-click = 'exportAlbum()' 
						title = '{{"Export this album to pdf file to use on your computer or for printing"|translate}}' 
						translate>
						Export this album
					</span>

					<div id = 'exportWindow'
						ng-show = 'showExportWindow'>
						
						<div id = 'exportMenu'
							ng-show = 'showExportMenu'>
							<p translate>To which format would you like to export your album?</p>
							<ul> 
								<li >
									<span class = 'icon fa fa-laptop'></span> 
									<span class = 'link'
										ng-click = 'generatePdf(150)'
										translate>
										PDF 72dpi (to use on computer)
									</span>
								</li>
								<li>
									<span class = 'icon fa fa-print'> </span>
									<span class = link
										ng-click = 'generatePdf(300)'
										translate>
										PDF 300dpi (for printing) 
									</span>
								</li>
								<li> 
									<span class = 'icon fa fa-comment-o'> </span>
									<span class = 'link'
										ng-click = 'generateJpg()'
										translate>
										JPEG images
									</span>
								</li>
							</ul>
						</div>
						
						<!--=========================================-->
						<div ng-show = 'processingPdf' >
							<p translate>
								Generating pdf. Please be patient...
							</p>
							<div style = 'font-size: 90%' > 
								<p translate>
									...processing page {{processPage}}
								</p>
								<p class = 'icon fa fa-spinner fa-spin'
									style = 'font-size: 2em' > </p>
							</div>
						</div>
						<div ng-show = 'showLink'>
							<h4 translate> Congratulation! </h4>
							<p translate>Your PDF album is ready.</p>
							<span class = 'icon fa fa-download'> </span>
							<a download = '{{album.title + ".pdf"}}' 
								id = 'pdfoutput' translate>
								Download file
							</a>
						</div>
						
					<div ng-show = 'processingJpg' >
						<p translate>
							Generating Jpg. Please be patient...
						</p>

							<p class = 'icon fa fa-spinner fa-spin'> </p>
					</div>
					<div ng-show = 'showJpgLink' id = 'exportJpgAlbum'>
					</div>
						<span class = 'clickable close fa fa-remove'
							ng-click = 'closeExportWindow()'></span>
					</div>
					
					<!--==================================-->
					
				
				</div>
				<div id = 'updateMsg'>
				</div>
			</div>
			
			<!--=============================End sideMenu =====================-->
			
			<div id = 'communication'>
				
				
				<div id = 'errorMsg'>
				</div>
			</div>
			<div id = 'abTitle'>
				<div name = 'editTitle'
						ng-show = 'hasTitle'
						ng-click = 'editTitle()'>
					<span ng-bind = 'album.title' 
						name = 'title'
						ng-show = 'hasTitle'> 
					</span>
					<img src = 'static/icons/edit.png'
						title = '{{"edit title"|translate}}'
						name = 'edit'
						class = 'clickable'/>
				</div>
				
				<form ng-submit = 'showTitle()'
						class = 'inline left'
						ng-show = 'enterTitle'>
					<input type = 'text' 
						id = 'titleInput'
						ng-model = 'album.title'
						ng-blur = 'titleBlur()'
						maxlength = '20'
						placeholder = '{{"Enter a title"| translate}}'
						required
						value = 'album.title'/>
				</form>
				
				<div class = 'inline' 
					style = 'margin-left: 3em; font-size: 90%'> 
					<span ng-bind = 'albumFormat'></span>
				</div> 
					
				<div class = 'right inline clickable'
					ng-show = 'hasDescription'
					ng-click = 'editDescription()'>
					<span ng-bind = 'album.description'
						class = 'description'>
					</span>
					<img src = 'static/icons/edit.png'
						title = '{{"edit description"|translate}}'
						name = 'edit'
						class = 'clickable'/>
				</div>
				
				<form ng-submit = 'showDescription()'
					ng-if = 'enterDescription'
					class = 'inline right'
					ng-click = 'editDescription()'>
					<input type = 'text' 
						id = 'inputDescription'
						ng-model = 'album.description'
						ng-blur = 'descriptionBlur()'
						maxlength = '40'
						placeholder = '{{"Enter a description"|translate}}'
						value = 'album.title'/>
				</form>
				
			</div>


			<div id = 'album'>
				<div id = 'doublepage'>
						
					<div id = 'prev' class = 'link'
						ng-show = 'show.leftPage' 
						ng-click = 'prevPage()'
						title = '{{"go to the previous page"|translate}}'>
						<span class = 'fa fa-chevron-left'> <span>
						<!--<img src = 'static/icons/prev.png'/>
						<span translate> previous </span>-->
					</div>
					
					<div id = 'next' class = 'link'
						ng-show = 'show.rightPage' 
						ng-click = 'nextPage()'
						title = '{{"go to the next page"|translate}}'>
						<span class = 'fa fa-chevron-right'> <span>
						<!--<img src = 'static/icons/next.png'/>
						<span translate>next</span>-->
					</div>
					<span class = 'link'
						ng-show = 'show.leftPage'
						id = 'movePageBackward'
							ng-click = 'movePageBackward()'> Move page backward</span>
					<span class = 'link'
						id = 'movePageForward'
						ng-show = 'show.rightPage'
							ng-click = 'movePageForward()'> Move page forward</span>
					<div id = 'topMenu'>
						<img title = '{{"Add a new double page"|translate}}'
							ng-click = 'addNewPage()'
							src = 'static/icons/addpage.svg'
							class = 'respond clickable'/> 
						
						<img  src = 'static/icons/text2.svg'
								title = '{{"Drag and drop into page to add a text field"|translate}}'
								draggable = 'true'
								ondragstart = 'angular.element(this).scope().dragText(event)'
								class = 'respond draggable'/>
						
						<img src = 'static/icons/frame.svg'
								draggable = 'true'
								ondragstart = 'angular.element(this).scope().dragFrame(event)'
								title = '{{"Drag and drop into page to add a new frame"|translate}}'
								class = 'respond draggable'/>
						
						<img src = 'static/icons/preview.svg'
								class = 'respond clickable'
								ng-click = 'previewPage(current.pageNum)'
								title = '{{"Preview album"|translate}}'/>
						<span class = 'link'
							ng-click = 'moveDoublePageBackward()'> DPbackward</span>
						<span  class = 'link'
							ng-click = 'moveDoublePageForward()'> DPforward</span>
						
						<img src = 'static/icons/delpage.svg'
								title = '{{"Delete this double page"|translate}}'
								ng-click = 'removePage()'
								class = 'respond clickable'
								style = 'float: right'/>
					</div>
					
					<span ng-show = 'show.leftPage'
						id = 'leftPageNum'>
						{{current.pageNum}}/{{album.content.length}}
					</span>
					<span ng-show = 'show.rightPage'
						id = 'rightPageNum'>
						{{current.pageNum + 1}}/{{album.content.length}}
					</span>


					<!--______________________a page in album______________________-->


					<div ng-repeat = 'page in ["leftPage", "rightPage"]'
							id = '{{page}}'
							class = 'page {{page}}'
							draggable = 'false'
							ng-controller = 'PageController'
							ng-if = 'show[page]'
							tabindex = 0
							ondrop = 'angular.element(this).scope().dropInPage(event)' 
							ondragover = 'angular.element(this).scope().allowDropInPage(event)'
							ng-mousemove = 'mouseMove(\$event)'
							ng-click = 'pageFocus(\$event)'
							ng-focus = 'pageFocus(\$event)'
							style = 'width: {{pageWidth}}; height: {{pageHeight}}; 
								top: {{pageTop}};
								background-color: {{current[page].background}};
								background-image: url({{current[page].patternURL}});
								background-size: {{current[page].patternSize}}'
								>
						
						<div ng-repeat= 'frame in current[page].frames' 
							ng-controller='CanvasController'
							ng-style='{cursor: current.cursor}'>
							<canvas tabindex = '0' 
										class = 'frame inPage {{page + "box"}}'
										title = '{{"Drag a corner or an edge to redimension the frame."| translate}}'
										ondrop = 'angular.element(this).scope().dropInCanvas(event)' 
										ondragover = 'angular.element(this).scope().allowDrop(event)'
										ng-mousedown = 'mouseDown(\$event)' 
										ng-mousemove = 'mouseMove(\$event)'
										ng-keydown = 'keyDown(\$event)'
										ng-click = 'canvasFocus()'
										ng-blur = 'canvasBlur(\$event)'> </canvas>
						</div>
						
						<div ng-repeat = 'textBox in current[page].textBoxes' 
								ng-controller = 'TextBoxController'
								 class = 'tbContainer {{page + "box"}}'>
								<textarea name = 'textbox'
										placeholder = '{{"Enter text here"| translate}}'
										ng-style='{cursor: current.cursor}'
										title = '{{"Ctrl+Del to delete. Ctrl + arrows to move it around. Drag the bottom-right corner to redimension."|translate}}'
										ng-model = 'textBox.text'
										ng-mousedown = 'mouseDown(\$event)'
										ng-mousemove = 'mouseMove(\$event)'
										ondrop = 'angular.element(this).scope().dropInTA(event)'
										ng-keyup = 'autoResize(\$event)'
										ng-click = 'textFocus(\$event)'
										ng-focus = 'textFocus(\$event)'
										ng-blur = 'blur(\$event)'
										ng-keydown = 'keyDown(\$event)'>
								</textarea>
								<span  ng-show = 'active'
									class = 'textHandle-br fa fa-arrows-h'></span>
								<span ng-show = 'active' 
									class = 'textHandle-tl fa fa-arrows'></span>
						</div>
						
						<svg id = 'refTop' style = 'top: {{current.top + "px"}}'
							ng-show = 'current.showTopLine'>
							<line x1 = '0' y1 = '0' 
								x2 = '{{pwidth}}' y2 = '0' 
								class = 'refLine'>
							</line>
						</svg>
						
						<svg id = 'refBot' style = 'top: {{current.bot + "px"}}'
							ng-show = 'current.showBotLine'>
							<line x1 = '0' y1 = '0' 
								x2 = '{{pwidth}}' y2 = '0' 
								class = 'refLine'>
							</line>
						</svg>
						
						<svg id = 'refLeft' style = 'left: {{current.left + "px"}}'
							ng-show = 'current.showLeftLine'>
							<line x1 = '0' y1 = '0' 
								x2 = '0' y2 = '{{pheight}}' 
								class = 'refLine'>
							</line>
						</svg>
						
						<svg id = 'refRight' style = 'left: {{current.right + "px"}}'
							ng-show = 'current.showRightLine'>
							<line x1 = '0' y1 = '0' 
								x2 = '0' y2 = '{{pheight}}' class = 'refLine'>
							</line>
						</svg>

					</div>
					
					<div id = 'controls'
						ng-mousedown = 'controlsMouseDown()'
						ng-mouseleave = 'controlsMouseLeave()'
						class = 'controls'>
						<div id = 'textControl'
							
							ng-controller = 'TextController'
							ng-show = 'current.onEditText'>
							<span class = 'textCtrl'
								style = 'font-weight: bold; 
									font-size: 90%; 
									margin-right: 0.5em; margin-left: 1em;' translate>
									Text 
							</span>
							<div class = 'textSelect'>
								<select style = 'height: 2em'
									title = '{{"Choose text font"|translate}}'
									ng-model = 'current.font.family' 
									ng-change = 'changeFont(current.font.family)'>
									<optgroup ng-repeat = 'font in userFonts' class = '{{font}}'>
										<option value = '{{font}}'>
											{{font}}
										</option> 
									</optgroup>
									<option disabled>──────────</option>
									<optgroup ng-repeat = 'font in fonts' class = '{{font}}'>
										<option value = '{{font}}'>
											{{font}}
										</option> 
									</optgroup>
									
								</select> 
							</div>
							<div  class = 'textSelect'>
								<select 
									style = 'height: 2em'
									title = '{{"change font size"|translate}}'
									ng-model = 'current.font.size'
									ng-change = 'changeFontSize(current.font.size)'
									ng-options = 'i for i in [10, 11, 12, 13, 
									14, 15, 16, 17, 18, 19, 20, 22, 24, 26, 28, 30, 32, 36, 40, 44, 48, 54, 60]'
									ng-value = 'i'> {{i}}
								</select>
							</div>
							<div class = 'textCtrl'
								ng-click = 'addFonts()'>
								<span class = 'link'>
									more fonts
								</span>
							</div>
							<!--<div class = 'btn textCtrl respond' 
							ng-click = 'italicClick()'>
								<span  class = 'fa fa-italic ctrlIcon'></span>
							</div>
							<div class = 'btn textCtrl respond' 
								ng-click = 'boldClick()'>
								<span class = 'fa fa-bold ctrlIcon'></span>
							</div>-->
							
							<!--Color falldown menu -->
							<div id = 'textColor'
									class = 'btn textCtrl respond '
									ng-click = 'showColors()'
									title = '{{"Choose text color"|translate}}'
									style = 'color: {{current.font.color}}'>
								<span translate>Text color</span>
							</div>
							<div tabindex = 0 
								class = 'textColorMenu'
								id = 'colorMenu'
								ng-if = 'showColorMenu' 
								ng-init = 'showColorMenu = false'>
								<div class = 'colorTable '
									tabindex = 0 
									ng-repeat = 'color in colors'
									style = 'background-color:{{color}};'
									ng-focus = 'changeColor(color)'>
								</div>
							</div>
							<!-- end of color menu-->
							
							<div 
								class = 'btn textCtrl respond '
								title = '{{"Align text left"|translate}}'
								ng-click = 'align("left")'>
								<span class = 'fa fa-align-left ctrlIcon'></span>
<!-- 								<img src = 'static/icons/left.svg'/> -->
							</div>
							<div 
								class = 'btn textCtrl respond '
								title = '{{"Align text center"|translate}}'
								ng-click = 'align("center")'>
								<span class = 'fa fa-align-center ctrlIcon'></span>
<!-- 								<img src = 'static/icons/center.svg'/> -->
							</div>
							<div	class = 'btn textCtrl respond '
								title = '{{"Align text right"|translate}}'
								ng-click = 'align("right")'>
								<span class = 'fa fa-align-right ctrlIcon'></span>
<!-- 								<img src = 'static/icons/right.svg'/> -->
							</div>
							
							<div class = 'btn textCtrl respond '
								title = '{{"Rotate text box right"|translate}}'
								ng-mousedown = 'rotate("right")'
								ng-mouseup = 'mouseUp()'
								ng-mouseleave = 'mouseLeave()'>
								<span class = 'fa fa-rotate-right ctrlIcon'></span>
<!-- 								<img src = 'static/icons/rotate-right.png'/> -->
							</div>
							<div class = 'btn textCtrl respond '
								title = '{{"Rotate text box left"|translate}}'
								ng-mousedown = 'rotate("left")'
								ng-mouseup = 'mouseUp()'
								ng-mouseleave = 'mouseLeave()'>
								<span class = 'fa fa-rotate-left ctrlIcon'></span>
<!-- 								<img src = 'static/icons/rotate-left.png'/> -->
							</div>
							<div ng-click = 'level("up")'
								title = '{{"Level text up."|translate}}'
								class = 'btn respond textCtrl'>
								<span class = 'fa fa-level-up ctrlIcon'></span>
							</div>
							<div ng-click = 'level("down")'
								title = '{{"Level text down."|translate}}'
								class = 'btn respond textCtrl'>
								<span class = 'fa fa-level-down ctrlIcon'></span>
							</div>
							
							<div class = 'btn textCtrl respond '
								title = '{{"Remove text box"|translate}}'
								ng-click = 'removeTextArea()'>
								<span class = 'fa fa-trash ctrlIcon'></span>
<!-- 								<img src = 'static/icons/trash.png'/> -->
							</div>
						</div>
						
						<div id = 'imageControl' 
							ng-controller = 'ImageController'
							ng-show = 'current.onEditImage'>
							<span class = 'imgCtrl'
								style = 'font-size: 90%; font-weight: bold;
								margin-left: 1em; margin-right: 0.5em'
								translate>
								Style image
							</span>
							<div 
								ng-mousedown = 'zoomImage("in")'
								ng-mouseup = 'mouseUp()'
								ng-mouseleave = 'mouseLeave()'
								title = '{{"Zoom image in. Hot key: +"|translate}}'
								class = 'btn respond imgCtrl'>
									<span class = 'fa fa-search-plus ctrlIcon'></span>
<!-- 								<img src = 'static/icons/zoomin.png'/>  -->
							</div>
							<div 
								ng-mousedown = 'zoomImage("out")'
								ng-mouseup = 'mouseUp()'
								ng-mouseleave = 'mouseLeave()' 
								title = '{{"Zoom image out. Hot key: -"|translate}}'
								class = 'btn respond imgCtrl'>
								<span class = 'fa fa-search-minus ctrlIcon'></span>
								<!--<img src = 'static/icons/zoomout.png'/> -->
							</div>
									
							<div ng-mousedown = 'go("left")'
								ng-mouseup = 'mouseUp()'
								ng-mouseleave = 'mouseLeave()'
								title = '{{"Move image zone left. Hot key: Ctrl + arrow left."|translate}}'
								class = 'btn respond imgCtrl'>
								<span class = 'fa fa-arrow-left ctrlIcon'></span>
<!-- 								<img src = 'static/icons/goleft.png'/> -->
							</div>
							
							<div ng-mousedown = 'go("right")'
								ng-mouseup = 'mouseUp()'
								ng-mouseleave = 'mouseLeave()'
								title = '{{"Move image zone right. Hot key: Ctrl + arrow right."|translate}}'
								class = 'btn respond imgCtrl'>
								<span class = 'fa fa-arrow-right ctrlIcon'></span>
<!-- 								<img src = 'static/icons/goright.png'/> -->
							</div>
							
							<div ng-mousedown = 'go("up")'
								ng-mouseup = 'mouseUp()'
								ng-mouseleave = 'mouseLeave()'
								title = '{{"Move image zone up. Hot key: Ctrl + arrow up."|translate}}'
								class = 'btn respond imgCtrl'>
								<span class = 'fa fa-arrow-up ctrlIcon'></span>
<!-- 								<img src = 'static/icons/goup.png'/> -->
							</div>
							
							<div ng-mousedown = 'go("down")'
								ng-mouseup = 'mouseUp()'
								ng-mouseleave = 'mouseLeave()'
								title = '{{"Move image zone down. Hot key: Ctrl + arrow down."|translate}}'
								class = 'btn respond imgCtrl'>
								<span class = 'fa fa-arrow-down ctrlIcon'></span>
<!-- 								<img src = 'static/icons/godown.png'/> -->
							</div>
							
							<div ng-mousedown = 'rotate("right")'
								ng-mouseup = 'mouseUp()'
								ng-mouseleave = 'mouseLeave()'
								title = '{{"Rotate image right"|translate}}'
								class = 'btn respond imgCtrl'>
								<span class = 'fa fa-rotate-right ctrlIcon'></span>
							</div>
							
							<div ng-mousedown = 'rotate("left")'
								ng-mouseup = 'mouseUp()'
								ng-mouseleave = 'mouseLeave()'
								title = '{{"Rotate image left"|translate}}'
								class = 'btn respond imgCtrl'>
								<span class = 'fa fa-rotate-left ctrlIcon'></span>
							</div>
							
							<div ng-click = 'level("up")'
								title = '{{"Level image zone up."|translate}}'
								class = 'btn respond imgCtrl'>
								<span class = 'fa fa-level-up ctrlIcon'></span>
							</div>
							
							<div ng-click = 'level("down")'
								title = '{{"Level image zone."|translate}}'
								class = 'btn respond imgCtrl'>
								<span class = 'fa fa-level-down ctrlIcon'></span>
							</div>
								
							<div ng-click = 'removeImage()'
								title = '{{"Delete image. Hot key: Ctrl + Del. Use Del to remove the frame and its content."|translate}}'
								class = 'btn respond imgCtrl'> 
								<span class = 'fa fa-trash ctrlIcon'></span>
							</div>
							
						</div>
					</div>
					<div id = 'previewText' class = 'previewText'>
					</div>
				</div>
			
				<!--_______________select layout________________________-->
				<div id = 'layoutCtrl' class = 'layoutCtrl controls'
					ng-if = 'inAlbum'
					ng-controller = 'LayoutController'>
					<ul id = 'layoutMenu' class = 'hMenu'>
						<li ng-click = 'layoutsClick(\$event)' 
							class = 'LMItem clickable li LMactive' translate>
							Page layout
						</li>
						<li ng-click = 'BGClick(\$event)'
							class = 'LMItem clickable li'>
							Page background 
						</li>
						<li ng-click = 'ImgClick(\$event)'
							class = 'LMItem clickable li'>
							Image
						</li>
					</ul>
					<div>
						<div ng-show = 'showLayoutSets' 
							ng-init = 'showLayoutSets = true'>
							<ul id = 'layoutsMenu' 
								class = 'hMenu'>
								<li ng-click = 'showAllLayouts(\$event)'
									class = 'LSItem clickable li LSactive' translate> 
									All
								</li>
								<li ng-repeat = 'choice in layoutList'
									ng-click = 'showLayouts(\$event, choice)'
									class = 'LSItem clickable li'>
									{{choice}} 
								</li>
								<li ng-click = 'showFavorites(\$event)'
									class = 'LSItem clickable li' translate translate-comment="layouts"> 
									Favorites
								</li>
							</ul>
							<div id = 'layouts' 
								class = 'showRoom'>
								<div ng-controller = 'minLayoutController' 
									class = 'clickable canvas'
									 ng-repeat = 'layout in layouts'>
									<span class = 'deleteFavorite fa fa-remove'
										ng-mouseover = 'onDelete()'
										ng-mouseleave = 'leaveDelete()'
										ng-click = 'removeFavorite(\$index)'
										ng-show = 'showDelete'></span> 
									<canvas title = '{{"Choose a page first then click on the layout to load to the chosen page."|translate}}'
											ng-click = 'loadPageLayout(layout)'
											ng-mouseover = 'previewLayout(layout, \$event)'
											ng-mouseleave = 'mouseLeave()'
											class = 'minframe'> </canvas> 
									
								</div>
							</div>
							<div class = 'apply'>
								<span class = 'link respond' 
									ng-click = 'saveAsFavourite()' translate>
									Save as favourite </span>
								<span class = 'link fa fa-question-circle'></span>
							</div>
						</div>
						
						<div ng-show = 'showBM'>
							<ul id = 'backgroundMenu'
								class = 'hMenu'>
								<li class = 'BMItem clickable li BMactive'
									ng-click = 'showColors(\$event)' translate>
									Color
								</li>
								<li class = 'BMItem clickable li'
									ng-click = 'showPatterns(\$event)' translate>
									Pattern
								</li>
								<!--<li class = 'BMItem clickable li'
									ng-click = 'showFrames(\$event)'>
									Frame
								</li>-->
							</ul>
							<div  class = 'apply' ng-show = 'showColor'>
								<span class = 'link respond'
									ng-click = 'removeBGColor()'
									style = 'margin-right: 1em' translate>
									Remove color </span>
								<span class = 'link respond'
									ng-click = 'changeAlbumBGColor()'
									translate>
									Apply to all pages </span>
							</div>
							<div class = 'apply' ng-show = 'showPattern'> 
								<span class = 'link respond'
									ng-click = 'removePattern()'
									style = 'margin-right: 1em' translate>
									Remove pattern </span>
								<span class = 'link respond'
									ng-click = 'patterntoAlbum()' translate>
									Apply to all pages </span>
							</div>
							<div id = 'background' 
								class = 'showRoom'
								ng-init = 'showColor = true'>
								<div ng-repeat = 'color in colors'
									ng-show = 'showColor'
									class = 'showItem'
									style = 'background-color: {{color}};
										width: {{0.2 * pwidth + "px"}};
										height: {{0.2 * pheight + "px"}}'
									ng-click = 'changeBGColor(color)'>
								</div>
								
								<div class = 'showItem small'
									ng-show = 'showColor'
									style = 'height: {{0.2 * pheight + "px"}}'>
									<form ng-submit = 'getUserBGColor()'>
										<label translate> Your color</label> <br/>
										<input type = 'text' placeholder = '#FFFFFF' 
											ng-model = 'userColor'
											size = '7'/>
										<input type = 'submit' value = 'OK'/>
									</form>
								</div>
								
								<div ng-repeat = 'pattern in patterns'
									class = 'showItem'
									ng-show = 'showPattern'
									ng-controller = 'PatternController'
									style = 'width: {{0.2 * pwidth + "px"}};
										height: {{0.2 * pheight + "px"}};
										background: url({{pattern.URL72}});
										background-size: {{pattern.width / 7 + "px"}};
										border: 1px solid #CCC'
									ng-click = 'changePattern(pattern)'
									ng-mouseover = 'previewPattern(pattern, \$event)'
									ng-mouseleave = 'mouseLeave()'>
								</div>

							</div>
						</div>
						<div ng-show = 'showImgOpt'> 
							<ul id = 'imgOptMenu'
								class = 'hMenu'>
								<li ng-click = 'showBorders(\$event)'
									class = 'IOItem clickable li IOactive' translate>
									Border
								</li>
								<li ng-click = 'showFrames(\$event)'
									class = 'IOItem clickable li' translate>
									Frame
								</li>
								<li ng-click = 'showMasks(\$event)'
									class = 'IOItem clickable li' translate>
									Mask
								</li>
							</ul>
							<div class = 'apply' ng-show = 'showBorder'> 
									<span class = 'link respond'
										style = 'margin-right: 1em'
										ng-click = 'imgBordertoPage()'>
										Apply to current page </span>
									<span class = 'link respond'
										ng-click = 'imgBordertoAlbum()' translate>
										Apply to album </span>
							</div>
							<div class = 'showRoom' id = 'imgOpt'
								ng-init = 'showBorder = true'>
								<div ng-repeat = 'color in colors'
									ng-show = 'showBorder'
									style = 'height: 1.5em; width: 3em; 
										border: none;
										margin-top: 3px;
										margin-left: 10px;
										border-top: 8px solid {{color}};
										border-left: 8px solid {{color}};
										background-color: #EEE'
									ng-click = 'changeBorder(color)'
									class = 'showItem'>
								</div>
								
							</div>
							<div class = 'borderCtrl' ng-show = 'showBorder'>
									<span> Border thickness </span>
									<span class = 'btn respond icon fa fa-sort-up'
										ng-click = 'increaseThickness()'></span>
									<span class = 'btn respond icon fa fa-sort-down'
										ng-click = 'decreaseThickness()'></span>
									<span class = 'link respond'
										ng-click = 'removeBorder()'>
										Remove border</span>
									<form ng-submit = 'getUserBorderColor()'>
										<label translate> Your color</label>
										<input type = 'text' placeholder = '#FFFFFF' 
											ng-model = 'userColor'
											size = '7'/>
										<input type = 'submit' value = 'OK'/>
									</form>
								</div>
						</div>
					</div>
	<!--Choose page background color============================-->
	

				</div>
				<!--___________________end of select layour____________________-->
		
			<!--___________________image loader_____________________________-->
				<div id = 'imageLoader'
					ng-controller = 'ImageLoaderController'
					ondrop = 'angular.element(this).scope().handleFileSelect(event)'
					ondragover = 'return false;'
					ondragenter = 'return false;'
					ng-if = 'imgLoad'>
					<label for = 'files' class = 'medbtn'
						id = 'loadPhotos'
						title = '{{"Click to add photos from your computer"|translate}}'> 
						<span translate> Add photos </span>  <span ng-show = 'loadingImg' class = 'icon fa fa-spinner fa-spin'> </span>
					</label>
					
					<input type = 'file' id = 'files' 
						style = 'display: none'
						onchange = 'angular.element(this).scope().handleFileSelect(event)'
						multiple />
					<div id = 'output'></div>
				</div>
			</div>

		

	
	<!-- ____________________________ notifications_________________________-->
	
			<div ng-show = 'hideAlbum' class = 'pageDesactivate'
					tabindex = '0'>
			</div>
		
		<!--_____________________alert delAlbum_____________________-->
		
		<div  class = 'alert'
						style = 'width: {{screenWidth/4 + "px"}}; 
										left: {{screenWidth/4 + "px"}}; 
										top: {{screenWidth/12 +"px"}}'
						ng-show = 'delAlbum'
						ng-keydown = 'alertKeydown(\$event)'>
						<span style = 'color: red' translate>
							The album 
						</span>
						<span style = 'font-weight: bold'> {{album.title}} </span> 
						<span  style = 'color: red' translate>will be removed definitely.</span>
						<br/>
						<span style = 'color: red' translate>
							Are you sure to delete this album?
						</span>
						<br/> <br/>
						<button type = 'button' class = 'respond'
							id = 'delAlbum'
							ng-click = 'removeAlbum(current.albumId)'
							style = 'float: left' translate>
							Yes, delete it.
						</button>
						<button type = 'button' class = 'respond' 
							id = 'notDelAlbum'
							ng-click = 'delAlbum = false; hideAlbum = false' 
							style = 'float: right' translate>
							No, do not delete.
						</button>
				</div>
		
		
		<!--_______________Preview_____________________________________-->
		
		<div ng-controller = 'PreviewController'
			ng-show = 'previewMode' id = 'previewPage'
			style = 'width: {{(previewWidth + 1) + "px"}}; 
			height: {{previewHeight + "px"}};'>
			<span ng-show = 'viewPageNum != 0'
					class = 'link prev fa fa-chevron-left'
					ng-click = 'previewPage(viewPageNum - 2)'> </span>
			<div xmlns="http://www.w3.org/1999/xhtml"  id = 'prePageCont'>
				<div id = 'leftPreview'
					ng-show = 'viewPageNum != 0'
					style = 'position: absolute; top: 0px; left: 0px; 
						width: {{previewWidth/2 + "px"}}; 
						height: {{previewHeight + "px"}};
						border-right: 1px solid #CCC;'>
				</div>
				<div id = 'rightPreview'
					ng-show = 'viewPageNum != album.content.length'
					style = 'position: absolute; top: 0px;
						left: {{(previewWidth/2+1)  + "px"}};
						width: {{(previewWidth/2) + "px"}}; 
						height: {{previewHeight + "px"}};'>
				</div>
			</div>
			<span	class = 'link next fa fa-chevron-right' 
					ng-show = 'viewPageNum != album.content.length'
					ng-click = 'previewPage(viewPageNum + 2)'> </span>
			
			<span class = 'clickable close fa fa-remove'
					ng-click = 'removePreview()'> </span>
			<div id = 'exportJPEG' >
				<span class = 'link'
					ng-click = 'toJPEG(viewPageNum)' translate> Export this page to JPEG</span>
			</div>
		</div>	
		
		<div ng-controller = 'UserFontController'
			id = 'addFont'
			ng-if = 'current.addingFonts'>
			<p> You can upload a true type font from your computer to use in your albums.
				These fonts will appear in the font list with prefix Custom.
			</p>
			<p>Many free true type fonts can be found at 
				<a href = 'http://www.fontsquirrel.com'>
				http://www.fontsquirrel.com</a>, for example.
			</p>
			
			<div style = 'margin-left: 2em'>
				<label for = 'uploadFonts' class = 'bigbtn'>
					<span>Browse fonts</span>
				</label>
				<input type = 'file' id = 'uploadFonts'
					style = 'display: none'
					onchange = 'angular.element(this).scope().handleFontSelect(event)'
					multiple/>
			</div>
			
			<p class = 'link'
				style = 'float: right'
				ng-click = 'current.addingFonts = false'>
				Close
			</p>
		</div>
	</div>
	</div>
</body>
</html>
