$def with (mode)
<!DOCTYPE html> 
<html ng-app = 'albumApp' ng-init = 'greeting = true' ng-strict-di='true'>
<head profile="http://www.w3.org/2005/10/profile">
	<meta charset="UTF-8">


	$if mode == 'dev':
		<script src = 'static/lib/angular_13.js'></script>
		<script src = 'static/lib/angular-gettext.js'></script>
		<script src = 'static/lib/pdfkit.js'></script>
		<script src = 'static/lib/blob-stream.js'></script>
		<script src = 'static/lib/exif.js'></script>
		<script src = 'static/lib/FileSaver.min.js'></script>
		<script src = 'static/lib/jszip.min.js'></script>
		
		
		<script src = 'static/js/controllers/siteController.js'></script>
		<script src = 'static/js/controllers/albumController.js'></script>
		<script src = 'static/js/controllers/pageController.js'></script>
		<script src = 'static/js/controllers/canvasController.js'></script>
		<script src = 'static/js/controllers/imageLoaderController.js'></script>
		<script src = 'static/js/controllers/layoutController.js'></script>
		<script src = 'static/js/controllers/textController.js'></script>
		<script src = 'static/js/controllers/exportController.js'></script>
		<script src = 'static/js/controllers/textBoxController.js'></script>
		<script src = 'static/js/controllers/imageController.js'></script>
		<script src = 'static/js/controllers/previewController.js'></script>
		
		<script src = 'static/js/services/services.js'></script>
		<script src = 'static/js/services/layoutFac.js'></script>
		<script src = 'static/js/services/initUserDBService.js'></script>
		<script src = 'static/js/services/exportService.js'></script>
		<script src = 'static/js/services/fontService.js'></script>
		<script src = 'static/js/services/DBService.js'></script>
		<script src = 'static/js/services/imgService.js'></script>
		<script src = 'static/js/services/DOMService.js'></script>
		<script src = 'static/js/services/drawService.js'></script>
		
		<script src = 'static/js/directives/albumFormatChoice.js'></script>
		<script src = 'static/js/directives/albumLanguage.js'></script>
		<script src = 'static/js/directives/albumDelPage.js'></script>
		<script src = 'static/js/directives/albumMovePage.js'></script>
		<script src = 'static/js/directives/albumDelAlbum.js'></script>
		<script src = 'static/js/directives/albumAddFonts.js'></script>
		<script src = 'static/js/directives/albumShowExportChoices.js'></script>
		
		
		
	$else:
		<script src = 'static/lib/angular.min.js'></script>
		<script src = 'static/lib/angular-gettext.min.js'></script>
		<script src = 'static/lib/pdfkit.js'></script>
		<script src = 'static/lib/blob-stream.js'></script>
		<script src = 'static/lib/exif.js'></script>
		<script src = 'static/lib/FileSaver.min.js'></script>
		<script src = 'static/lib/jszip.min.js'></script>
		
		<script src = 'static/build/album.js'></script>
		

	<link rel="stylesheet" type="text/css" href="static/css/style.css"/>
	<link rel = "stylesheet" type = "text/css" href = "static/css/homepage.css"/>
	<link rel="stylesheet" type="text/css" href="static/css/fontfaces.css"/>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/> 
	<link rel="icon" type="image/ico" href="static/icons/album.ico"/>
	<link rel="manifest" href="maps_app/manifest.json">
	<title>Create your own story</title> 
</head>

<body ng-controller = 'SiteController' 
	ng-show = 'loaded'
	ng-mouseup = 'mouseUp(\$event)'>
	<div ng-include = '"templates/banner.html"'></div>
	
	<div ng-controller = 'AlbumController as albumCtrl'>
		<div ng-include = '"templates/chooseFormats.html"'></div>
		<div ng-include = '"templates/userZone.html"'></div>
		
		<div ng-show = 'current.inAlbum'> 
			<div ng-include = '"templates/albumHeader.html"'></div>
			<div ng-include = '"templates/albumSideMenu.html"'></div>
			<div ng-include = '"templates/editAlbum.html"'></div>
			<div ng-include = '"templates/previewPages.html"'></div>
<!-- 			<div ng-include = '"templates/exportWindow.html"'></div> -->
			<div ng-show = 'current.hideAlbum' class = 'pageDesactivate'
					tabindex = '0'>
			</div>
		</div>
	</div>
</body>
</html>
